
.arrayBarContainer{
  
  position:absolute;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  bottom: 0cm;
  width: 100%;
 
}

.arrayBar{
  background-color: blue;
  display:inline-block;
}


